# HEMTT
hemtt/
hemtt.exe
.hemtt/missions/~*
.hemttout/
releases/

# Arma
ArmaScriptCompiler.exe
*.pbo
*.sqfc

# Textures
*.spp
*.spp.painter_lock
*.psd

# Tools
__pycache__
tools/output
.idea
.venv

# Keys
.hemttprivatekey
*.biprivatekey

# Compressed Files
*.zip
*.rar
*.7z
*.tar
*.tar.gz
