# Default line ending behavior (prevents Windows/Linux conflicts)
* text=auto

# Graphic and audio files
*.paa binary
*.png binary
*.jpg binary
*.ogg binary
*.wss binary

# Change GitHub language categorization
addons/**/*.cpp linguist-language=SQF
addons/**/*.hpp linguist-language=SQF

# Do not count HEMTT includes in GitHub language statistics
include/** linguist-vendored
